.profile-container {
  width: 40vw;
  margin: 0 auto;
  max-width: 1120px;
  border: 1px solid gray;
}

.back-home {
  color: black;
}

.profile-box {
  width: 800px;
  height: auto;
  background: white;
  border: 2px solid black;
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-box .profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card .user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-card .user-name {
  font-size: 30px;
  font-weight: 800;
}

.profile-card .user-username {
  font-weight: 100;
  font-size: 30px;
  color: rgb(146, 142, 142);
  margin: 0;
}

.profile-box .data {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 25px;
}

.data .data-card {
  font-size: 18px;
  font-weight: 700;
}

.tweets-length,
.followers-length,
.following-length {
  color: rgb(91, 89, 89);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}

.tweet-box {
  width: 800px;
  border: 1px solid black;
}

.tweet-boxcontainer {
  width: 800px;
  border: 1px solid black;
}

.post-container {
  display: flex;
  align-items: center;
  /* width: 800px; */
}

.post-container .postt {
  width: 600px;
  flex-shrink: 0;
}

.post-container .editdelete-container {
  width: 200px;
  height: 167px;
  flex-shrink: 0;
  margin-top: 0px;
  margin-left: 0px;
  /* padding: 30px; */
}

.dropdown-btn {
  padding: 5px;
  font-size: 16px;
}

.dropdown {
  position: relative;
}

.menu {
  /* position: absolute;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  */
  position: absolute;
  z-index: 10;
  list-style-type: none;
  display: flex;
  gap: 5px;
  /* width: 150px; */
}

.menu > li {
  margin: 0;
  background-color: white;
}

.edit-btn {
  padding: 5px;
  font-size: 16px;

  /*
  background: black;
  color: white;
  padding: 0.25rem 0.5rem;
  border: transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 10px;
  letter-spacing: 1px;
  */
}

.delete-btnn {
  padding: 5px;
  font-size: 16px;

  /*
  background: black;
  color: white;
  padding: 0.25rem 0.5rem;
  border: transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  */
}

/*

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

*/
