.edit-box {
  margin-top: 50px;
}

.edit-input {
  /* margin: 5px; */
  padding: 16px;
  /* background: var(--twitter-background); */
  background: transparent;
  color: black;
  border-radius: 0.25rem;
  font-size: 16px;
}

.btn-updateText {
  padding: 5px;
  font-size: 16px;

  /*
  padding: 0.15rem 0.3rem;
  background: rgb(85, 85, 85);
  color: white;
  padding: 0.25rem 0.5rem;
  border: transparent;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  */
}
