.post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 2px solid #e6ecf0 !important;
}

.post:hover {
  /* background: #eff2eff5; */
  background: rgb(244, 243, 243);
}

.post-avatar {
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.postBody {
  flex: 1;
  padding: 10px;
}

.postHeaderText {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 10px;
}

.postHeaderText h4 {
  /* margin: 0; */
  font-size: 18px;
  margin-bottom: 5px;
  display: inline-block;
}

.postHeaderText p {
  display: inline-block;
  font-size: 16px;
  margin-bottom: -5px;
}

.time {
  margin-left: 3px;
}

.postHeaderUserName {
  font-size: 18px !important;
  font-weight: 400;
  color: rgb(67, 65, 65);
  cursor: pointer;
}

.post-badge {
  font-size: 16px !important;
  color: #50b7f5;
  margin-bottom: -3px !important;
}

.postHeaderDescription {
  margin-bottom: 10px;
  font-size: 18px;
}

.postHeaderDescription p {
  margin: 0;
  margin-top: 5px;
}

.postBody > img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
  cursor: pointer;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}

.comments-container {
  margin-left: -40px;
}
