.post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6ecf0 !important;
}

.post:hover {
  /* background: rgba(244, 241, 241, 0.905); */
  background: #e6ecf0;
}

.post-avatar {
  padding: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.postBody {
  flex: 1;
  padding: 10px;
}

.postHeaderText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postHeaderInfo h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.postHeaderUserName {
  font-size: 20px !important;
  font-weight: 400;
  color: rgb(67, 65, 65);
  cursor: pointer;
}

.post-badge {
  font-size: 18px !important;
  color: #50b7f5;
  margin-bottom: -3px !important;
}

.postHeaderDescription {
  margin-bottom: 10px;
  font-size: 20px;
}

.postBody > img {
  border-radius: 20px;
  cursor: pointer;
}

.postFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  cursor: pointer;
}
