.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-right: 1px solid #e4e6e7 !important;
  flex: 0.2;
  /* margin-top: 15px; */
  padding-left: 22px;
  padding-right: 22px;
}

.twitterIcon-sidebar {
  font-size: 30px !important;
  color: #222;
  margin-left: 22px;
  margin-bottom: 22px;
  cursor: pointer;
}

.user-details {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 20px;
}

.user-img {
  background: transparent;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
}
